/* src/DeleteAccount.css */
.delete-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(20deg, #151515 0%, #065BFF 50%, #151515 100%); /* More black with hints of blue */
  color: white;
  text-align: center;
}

.title-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.delete-account-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  max-width: 350px;
}

.delete-account-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 350px;
}

.input-field {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.input-area {
  width: 80%;
  height: 100px;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.delete-button {
  background-color: rgb(233, 51, 51); /* Easy A blue */
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.74); /* Darker shade for hover effect */
}

.small-text{
  font-size: 12px;
}

/* Common styles for messages */
.message {
  margin-top: 10px; /* Spacing above the message */
  padding: 10px; /* Padding for the message box */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Make the text bold */
}

/* Style for error messages */
.error-message {
  margin-top: 30px;
  color: rgb(255, 142, 142); /* Dark red text */
}

/* Style for success messages */
.success-message {
  margin-top: 30px;
  color: lime;
}

.email-link {
  color: #44C4FF; /* Change to your desired color */
  text-decoration: underline; /* Underline to indicate it's a link */
  cursor: pointer; /* Show pointer cursor on hover */
}

.email-link:hover {
  color: #0056b3; /* Darker color on hover */
  text-decoration: none; /* Remove underline on hover if desired */
}
